@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&amp;display=swap");
.btn {
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 8px 25px 0px rgba(72, 69, 90, 0.1);
    box-shadow: 0px 8px 25px 0px rgba(72, 69, 90, 0.1);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}
.btn i {
    margin-right: 8px;
    margin-top: -1px;
    font-size: 16px
}
.btn-inline {
    color: var(--white);
    background: var(--secondary);
    border: 2px solid var(--secondary)
}
.btn-inline:hover {
    color: var(--white);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    background: var(--primary);
    border-color: var(--primary);
    -webkit-box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.1)
}
.btn-outline {
    color: var(--primary);
    border: 2px solid var(--primary)
}
.btn-outline:hover {
    color: var(--white);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    background: var(--secondary);
    border-color: var(--secondary);
    -webkit-box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.1)
}
.dandik, .bamdik {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary-gdnt);
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.dandik:hover, .bamdik:hover {
    color: var(--white);
    background: var(--hover-gdnt)
}
.dandik {
    right: -15px
}
.bamdik {
    left: -15px
}
.slider-arrow:hover .dandik, .slider-arrow:hover .bamdik {
    visibility: visible;
    opacity: 1
}
@media (min-width: 576px) and (max-width: 1199px) {
    .dandik {
        right: 0px
    }
    .bamdik {
        left: 0px
    }
}
:root {
    --body: #f5f5f5;
    --text: #555555;
    --white: #ffffff;
    --border: #e8e8e8;
    --heading: #232d3b;
    --primary: #7F00FF;
    --secondary: #cc00ff;
    --support-bg: #050629;
    --copyright-bg: #020314;
    --envato: #82b541;
    --envato-hover: #49a010;
    --h1size: 50px;
    --h2size: 55px;
    --h3size: 24px;
    --h4size: 18px;
    --h5size: 18px;
    --h6size: 16px;
    --bodysize: 16px;
    --rweight: 400;
    --mweight: 500;
    --sweight: 600;
    --bweight: 700;
    --eweight: 800;
    --bcweight: 900;
    --pfamily: 'Roboto', sans-serif;
    --sfamily: 'Oswald', sans-serif
}
* {
    margin: 0px;
    padding: 0px;
    outline: 0px
}
img {
    vertical-align: middle
}
a {
    text-decoration: none;
    display: inline-block
}
a:hover {
    text-decoration: none
}
ul, ol {
    list-style: none;
    margin-bottom: 0px;
    display: inline-block
}
button:focus {
    outline: none;
    border: none
}
html, body {
    scroll-behavior: smooth
}
body {
    color: var(--text);
    background: var(--body);
    font-size: var(--bodysize);
    font-weight: var(--rweight);
    font-family: var(--pfamily);
    line-height: 26px
}
p {
    margin-bottom: 0px
}
h1, h2, h3, h4, h5, h6 {
    color: var(--heading);
    margin-bottom: 0px
}
h1 {
    font-size: var(--h1size);
    font-weight: var(--bweight);
    line-height: 58px
}
h2 {
    font-size: var(--h2size);
    font-weight: var(--eweight);
    line-height: 58px
}
h3 {
    font-size: var(--h3size);
    line-height: 32px
}
h4 {
    font-size: var(--h4size);
    font-weight: var(--bweight);
    text-transform: uppercase
}
h5 {
    font-size: var(--h5size);
    font-weight: var(--bweight)
}
h6 {
    font-size: var(--h6size);
    font-weight: var(--rweight)
}
.section-heading {
    text-align: center;
    margin-bottom: 40px
}
@media (max-width: 767px) {
    .section-heading {
        margin-bottom: 30px
    }
}
.navbar {
    padding: 18px 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background: var(--white);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1)
}
.navbar-brand img {
    width: 200px;
    height: auto
}
.nav-item {
    margin: 0px 15px
}
.nav-link {
    color: var(--heading);
    font-weight: var(--mweight);
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.nav-link:hover {
    color: var(--primary)
}
.navbar-nav .active .nav-link {
    color: var(--primary)
}
.navbar-btn a {
    background: var(--envato);
    padding: 14px 30px 14px 70px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.navbar-btn a:hover {
    background: var(--envato-hover)
}
.navbar-btn a::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--white);
    z-index: -1
}
.navbar-btn a img {
    position: absolute;
    top: 15px;
    left: 15px
}
.navbar-btn a span {
    font-size: 14px;
    color: var(--white);
    font-weight: var(--mweight);
    text-transform: uppercase
}
@media (max-width: 991px) {
    .navbar {
        padding: 15px 15px
    }
    .navbar-brand img {
        width: 140px
    }
    .navbar-toggler {
        border: none;
        padding: 6px 10px;
        border-radius: 3px;
        background: var(--primary)
    }
    .navbar-toggler:focus {
        outline: none
    }
    .navbar-toggler i {
        color: var(--white)
    }
    .navbar-collapse {
        text-align: center;
        padding: 30px 0px;
        background: var(--whitecolor)
    }
    .navbar-nav {
        padding-bottom: 15px
    }
    .nav-item {
        margin: 0px
    }
    .nav-link {
        display: inline-block
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .nav-item {
        margin: 0px 18px
    }
}
#banner-part {
    background: url(../../img/demo/banner/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}
.banner-overlay {
    padding: 220px 0px 180px;
    position: relative;
    overflow: hidden;
    z-index: 1
}
.banner-content {
    text-align: center
}
.banner-content h1 {
    width: 820px;
    margin: 0 auto 30px;
    color: var(--white)
}
.banner-content h3 {
    margin-bottom: 30px;
    color: var(--secondary)
}
.banner-icon li {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    margin: 0px 15px;
    display: inline-block;
    background: var(--white);
    -webkit-box-shadow: 0px 25px 35px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 25px 35px 0px rgba(0, 0, 0, 0.15);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.banner-icon li:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}
.banner-icon li img {
    width: auto;
    height: 40px
}
.shot-1, .shot-2, .shot-3, .shot-4 {
    width: 220px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1)
}
.shot-1 {
    bottom: 215px;
    left: -90px;
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    -webkit-animation: shot-1 3s linear infinite;
    animation: shot-1 3s linear infinite
}
@-webkit-keyframes shot-1 {
    0% {
        left: -75px
    }
    50% {
        left: -90px
    }
    100% {
        left: -75px
    }
}
@keyframes shot-1 {
    0% {
        left: -75px
    }
    50% {
        left: -90px
    }
    100% {
        left: -75px
    }
}
.shot-2 {
    bottom: -100px;
    left: -60px;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    -webkit-animation: shot-2 3s linear infinite;
    animation: shot-2 3s linear infinite
}
@-webkit-keyframes shot-2 {
    0% {
        left: -75px
    }
    50% {
        left: -60px
    }
    100% {
        left: -75px
    }
}
@keyframes shot-2 {
    0% {
        left: -75px
    }
    50% {
        left: -60px
    }
    100% {
        left: -75px
    }
}
.shot-3 {
    bottom: 215px;
    right: -90px;
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
    -webkit-animation: shot-3 3s linear infinite;
    animation: shot-3 3s linear infinite
}
@-webkit-keyframes shot-3 {
    0% {
        right: -105px
    }
    50% {
        right: -90px
    }
    100% {
        right: -105px
    }
}
@keyframes shot-3 {
    0% {
        right: -105px
    }
    50% {
        right: -90px
    }
    100% {
        right: -105px
    }
}
.shot-4 {
    bottom: -100px;
    right: -60px;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    -webkit-animation: shot-4 3s linear infinite;
    animation: shot-4 3s linear infinite
}
@-webkit-keyframes shot-4 {
    0% {
        right: -60px
    }
    50% {
        right: -75px
    }
    100% {
        right: -60px
    }
}
@keyframes shot-4 {
    0% {
        right: -60px
    }
    50% {
        right: -75px
    }
    100% {
        right: -60px
    }
}
@media (max-width: 991px) {
    .shot-1, .shot-2, .shot-3, .shot-4 {
        display: none
    }
    .banner-overlay {
        padding: 130px 0px 60px
    }
    .banner-content h1 {
        width: 100%;
        font-size: 30px;
        line-height: 38px
    }
    .banner-icon li {
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin: 8px
    }
    .banner-icon li img {
        height: 28px
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .banner-content h1 {
        width: 550px
    }
}
#demo-part {
    padding: 105px 0px 0px
}
.demo-card {
    text-align: center;
    border-radius: 3px;
    margin: 0px 10px 50px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.demo-card:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.demo-card:hover .demo-overlay {
    visibility: visible;
    opacity: 1
}
.demo-card:hover .demo-cover {
    top: 50%
}
.demo-img {
    position: relative
}
.demo-img img {
    width: 100%;
    height: auto;
    border-radius: 3px 3px 0px 0px
}
.demo-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0px 0px;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.demo-cover {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.demo-name {
    padding: 18px 0px;
    background: var(--white);
    border-top: 1px solid var(--border)
}
.demo-coming img {
    opacity: 0.3
}
.demo-coming .demo-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0px 0px;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1
}
.demo-coming .demo-cover {
    width: 220px;
    top: 50%
}
.demo-coming .demo-cover h4 {
    font-size: 30px;
    color: var(--primary)
}
@media (max-width: 991px) {
    #demo-part {
        padding: 65px 0px 0px
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .demo-card {
        margin: 0px 0px 30px
    }
}
#feature-part {
    padding: 57px 0px 0px
}
.feature-card {
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 50px 18px 45px;
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.feature-card:hover {
    background: var(--white);
    -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15)
}
.feature-img {
    margin-right: 15px
}
.feature-img img {
    width: 50px;
    height: auto
}
.feature-text h5 span {
    display: block
}
@media (max-width: 991px) {
    #feature-part {
        padding: 17px 0px 0px
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .feature-card {
        padding: 50px 30px 45px
    }
}
#element-part {
    padding: 80px 0px 0px
}
.elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.element-card {
    width: 200px;
    border-radius: 3px;
    text-align: center;
    margin: 0px 10px 20px;
    padding: 35px 0px 25px;
    background: var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.element-card:hover {
    background: var(--white);
    -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.15)
}
.element-card i {
    font-size: 40px;
    margin-bottom: 15px;
    display: inline-block
}
@media (max-width: 991px) {
    #element-part {
        padding: 40px 0px 0px
    }
}
@media (max-width: 575px) {
    .element-card {
        width: 125px
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .element-card {
        width: 150px
    }
}
#theme-part {
    padding: 92px 0px 95px
}
.theme-slider .dandik, .theme-slider .bamdik {
    background: var(--primary);
    top: 40%
}
.theme-card {
    border-radius: 3px;
    margin: 0px 25px 25px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.theme-card:hover {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.theme-card:hover .theme-overlay {
    visibility: visible;
    opacity: 1
}
.theme-card:hover .theme-overlay .btn {
    top: 50%
}
.theme-prev {
    position: relative
}
.theme-prev img {
    width: 100%;
    height: auto;
    border-radius: 3px 3px 0px 0px
}
.theme-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0px 0px;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.theme-overlay .btn {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.theme-thumb {
    width: 80px;
    height: 80px;
    line-height: 130px;
    text-align: center;
    border-radius: 3px 0px 0px 0px;
    background: var(--white);
    position: absolute;
    bottom: 0px;
    right: 0px
}
.theme-thumb a img {
    width: auto;
    height: 60px
}
.theme-name {
    padding: 18px 25px;
    background: var(--white);
    border-top: 1px solid var(--border)
}
.theme-name h5 {
    font-weight: var(--mweight)
}
.theme-name h5 a {
    color: var(--text);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}
.theme-name h5 a:hover {
    color: var(--primary)
}
.theme-name h5 a span {
    font-weight: var(--bweight);
    color: var(--heading)
}
@media (max-width: 991px) {
    #theme-part {
        padding: 52px 0px 55px
    }
    #theme-part .section-heading h2 {
        font-size: 42px
    }
}
@media (max-width: 575px) {
    .theme-card {
        width: 270px;
        margin: 0px 5px 25px
    }
    .theme-overlay .btn {
        width: 150px;
        padding: 13px 15px
    }
    .theme-thumb {
        width: 60px;
        height: 60px;
        line-height: 90px
    }
    .theme-thumb a img {
        height: 40px
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .theme-card {
        margin: 0px 15px 25px
    }
    .theme-overlay .btn {
        width: 160px;
        padding: 13px 15px
    }
}
#support-part {
    padding: 100px 0px 65px;
    background: var(--support-bg)
}
.support-content {
    text-align: center
}
.support-content a {
    margin-bottom: 37px
}
.support-content a img {
    width: 250px
}
.support-content h2 {
    width: 870px;
    line-height: 70px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: var(--white);
    margin: 0 auto 60px
}
.support-content h2 span {
    color: var(--primary)
}
@media (max-width: 991px) {
    #support-part {
        padding: 60px 0px 25px
    }
    .support-content h2 {
        width: 100%;
        font-size: 35px;
        line-height: 45px
    }
}
.footer-part {
    background: var(--copyright-bg);
    padding: 18px 0px;
    border: none
}
.footer-part ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.footer-part ul li {
    padding: 0px 30px;
    border-right: 1px solid var(--text)
}
.footer-part ul li:last-child {
    border-right: none
}
.footer-part ul li h6 {
    color: var(--body)
}
.footer-part ul li h6 span, .footer-part ul li h6 a {
    color: var(--primary)
}
.footer-part ul li h6 a:hover {
    text-decoration: underline
}
@media (max-width: 767px) {
    .footer-part ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .footer-part ul li {
        padding: 0px;
        margin: 5px 0px;
        border: none
    }
}